/*doc
---
title: Borders
name: borderMod
category: Modifier Classes
---
Sets border properties on element

Class                   | Description
----------------------- | --------------------------------
`.border--top`          | sets a standard top border on the element
`.border--right`        | sets a standard right border on the element
`.border--bottom`       | sets a standard bottom border on the element
`.border--left`         | sets a standard left border on the element
`.border--none`         | removes all borders from element
`.bordered`             | sets a standard top border AND top padding
`.focus--none`          | removes user agent focus style
*/

@each $direction in (top, right, bottom, left) {
	@include _modifier(border, $direction) {
		@include standardBorder($direction);
	}
}

@include _modifier(border, none) {
	border-width: 0 !important;
}

.focus--none {
	outline: 0;
}

%bordered,
.bordered {
	@extend %border--top;
	padding-top: $space;
}
