/*doc
---
title: Float
name: floatMod
category: Modifier Classes
---
Left and right `float`

Class             | Description
----------------- | -----------------------------------------
`.float--left`    | floats selected element left
`.float--right`   | floats selected element right
*/
@each $direction in (left, right) {
	@include _modifier(float, $direction) {
		float: $direction;
	}
}

/*doc
---
title: Float
name: clearFix
parent: floatMod
---
Float clearing.

Class             | Description
----------------- | -----------------------------------------
`.clearfix`       | clears `float` property of children

*/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	height: 0;

	@include browser-lessThanIE( 10 ) {
		zoom: 1;
	}
}

