/*doc
---
title: List
name: list
category: Modifier Classes
---
Standard divided/spaced list; similar to
an iOS table view.

Bottom spacing is provided with `chunk`.

```html_example
<ul class="list">
	<li class="list-item">
		<h2 class="chunk">Just a list item</h2>
	</li>
	<li class="list-item">
		<h2 class="chunk">Just a list item</h2>
	</li>
	<li class="list-item">
		<h2 class="chunk">Just a list item</h2>
	</li>
</ul>
```
*/

@include _modifier(list, reset) {
  list-style: none;
  padding-left: 0;
}

// TODO: consider moving this placeholder to util/_border.scss and documenting
%listBorders {
	@include standardBorder();
	@include responsiveValue(padding-top, var(--responsiveSpace), $space);
	display: block;

	&:first-child:not(a) {
		border-top: none;
		padding-top: 0;
	}
}

.list {
	@extend %list--reset;
	padding: 0;
	margin: 0;
	list-style: none;
}

/*doc
---
title: List item variants
name: listItemVariants
parent: list
---

A class of `.list-item` is __required__ on list items. The
following classes are optional variants:

Class                   | Description
----------------------- | -------------------------------
`.list-item--active`    | adds a background color to denote selected/active state (at medium & up only)
`.list-item--gutters`   | adds left and right padding to list item


```html_example
<div class="chunk">
	<h2>Touchable list items with selection</h2>
	<p>The <code>list-item</code> class can be applied to anchors instead for a touchable list</p>
</div>
<ul class="list">
	<li>
		<a href="#" class="list-item list-item--gutters">
			<div class="chunk">
				<h3 class="text--bold">Member Name</h3>
				<p class="text--caption">Something blah blah</p>
			</div>
		</a>
	</li>
	<li>
		<a href="#" class="list-item list-item--gutters list-item--active">
			<div class="chunk">
				<h3 class="text--bold">Member Name</h3>
				<p class="text--caption">Something blah blah</p>
			</div>
		</a>
	</li>
	<li>
		<a href="#" class="list-item list-item--gutters">
			<div class="chunk">
				<h3 class="text--bold">Member Name</h3>
				<p class="text--caption">Something blah blah</p>
			</div>
		</a>
	</li>
</ul>
```
*/
.list-item {
	@extend %listBorders;
	margin: 0;
	border-bottom: 1px solid transparent; // prevents margin collapse
}

.list-item--gutters {
	$props: (padding-left, padding-right);
	@include responsiveValue($props, var(--responsiveSpace), $space);
}

@include atMediaUp(medium) {
	.list-item--active {
		background-color: $C_lightGray;
		font-weight: $W_bold;
	}
}
