/*doc
---
title: Match media size
name: matchMediaSize
category: Modifier Classes
---

## Match media height
The following classes increasing the `height` of an element to match
one of our specified media sizes.

Class                         | Description
----------------------------- | --------------------------------
`.matchMediaSize--height--xs`  | sets height to $media-xs
`.matchMediaSize--height--s`   | sets height to $media-s
`.matchMediaSize--height--m`   | sets height to $media-m
`.matchMediaSize--height--l`   | sets height to $media-l
*/

@each $sizeName, $size in $media-map {

	@include _modifier('matchMediaSize--height', $sizeName) {

		@each $mediaKey, $mediaSize in $media-map {
			@if ($sizeName == $mediaKey and not ($sizeName == xl) and not ($sizeName == xxl)) {
				@include customPropertyValue(min-height, var(--responsiveMedia-#{$mediaKey}), $mediaSize)
			}
		}

	}

}
