/*doc
---
title: Media Sizing
name: sizeMod
category: Modifier Classes
---
Classes for applying dimensions to an element.

Class          | Description
-------------- | ----------------------------
`.media--xs`   | Sets `width` to `$media-xs` and height to `auto`
`.media--s`    | Sets `width` to `$media-s` and height to `auto`
`.media--m`    | Sets `width` to `$media-m` and height to `auto`
`.media--l`    | Sets `width` to `$media-l` and height to `auto`
`.media--xl`   | Sets `width` to `$media-xl` and height to `auto`
`.media--xxl`  | Sets `width` to `$media-xxl` and height to `auto`
*/
@each $sizeName, $size in $media-map {

	@include _modifier('media', $sizeName) {
		height: auto;

		@include responsiveVarContext--scalingMedia() {

			@if ($sizeName == xs) {
				width: $scalingMedia-xs;
			}

			@if ($sizeName == s) {
				width: $scalingMedia-s;
			}

			@if ($sizeName == m) {
				width: $scalingMedia-m;
			}

			@if ($sizeName == l) {
				width: $scalingMedia-l;
			}

			@if ($sizeName == xl) {
				width: $scalingMedia-xl;
			}

			@if ($sizeName == xxl) {
				width: $scalingMedia-xxl;
			}

		}

	}

}
