////
/// Breakpoint values
/// @group breakpoint
/// @access public
////

/// small breakpoint
/// @type Value(px)
$breakpoint-s  : var(--breakpoint-s);

/// medium breakpoint
/// @type Value(px)
$breakpoint-m  : var(--breakpoint-m);

/// large breakpoint
/// @type Value(px)
$breakpoint-l  : var(--breakpoint-l);

/// huge breakpoint
/// @type Value(px)
$breakpoint-xl : var(--breakpoint-xl);

/// breakpoint aliases map
/// @prop {Value(px)} breakpoint-map.s [440px]
/// @prop {Value(px)} breakpoint-map.m-content [640px]
/// @prop {Value(px)} breakpoint-map.l [840px]
/// @prop {Value(px)} breakpoint-map.xl [1024px]
$breakpoint-map: (
	s: $breakpoint-s,
	m: $breakpoint-m,
	l: $breakpoint-l,
	xl: $breakpoint-xl,
);
