////
/// Breakpoint values
/// @group breakpoint
/// @access public
////

/// breakpoint aliases map
/// @prop {Value(px)} breakpoint-map.s [440px]
/// @prop {Value(px)} breakpoint-map.m-content [640px]
/// @prop {Value(px)} breakpoint-map.l [840px]
/// @prop {Value(px)} breakpoint-map.xl [1024px]
$breakpoint-map: (
	s: $breakpoint-s,
	m: $breakpoint-m,
	l: $breakpoint-l,
	xl: $breakpoint-xl
);
