////
/// Color vars
/// @group Color
/// @access private
////

/// 0-255 threshold for brightness functions
/// @type Number
/// @see {function} isDark
/// @see {function} isLight
$brightness_threshold: 160;

/// "Contrast text" colors for programmatic
/// text colors
/// @name C_contrast[DargBG|LightBG]
/// @type Color
/// @see {function} getPrimaryTextColor
$C_contrastDarkBG: #fff;
$C_contrastLightBG: #000;


//
// MAP SASS VARS TO CUSTOM PROPERTIES
//
$C_white: var(--c-white);
$C_lightGray: var(--c-lightGray);
$C_mediumGray: var(--c-mediumGray);
$C_darkGray: var(--c-darkGray);
$C_coolGrayLight: var(--c-coolGrayLight);
$C_coolGrayLightTransp: var(--c-coolGrayLightTransp);
$C_coolGrayMedium: var(--c-coolGrayMedium);
$C_coolGrayMediumTransp: var(--c-coolGrayMediumTransp);
$C_red: var(--c-red);
$C_darkRed: var(--c-darkRed);
$C_pink: var(--c-pink);
$C_yellow: var(--c-yellow);
$C_lightBlue: var(--c-lightBlue);
$C_purple: var(--c-purple);
$C_blue: var(--c-blue);
$C_plum: var(--c-plum);
$C_orange: var(--c-orange);
$C_teal: var(--c-teal);
$C_shamrock: var(--c-shamrock);
$C_black: var(--c-black);
$C_facebook: var(--c-facebook);
$C_twitter: var(--c-twitter);
$C_linkedin: var(--c-linkedin);
$C_tumblr: var(--c-tumblr);
$C_flickr: var(--c-flickr);
$C_foursquare: var(--c-foursquare);
$C_googleplus: var(--c-googleplus);
$C_googleplusbutton: var(--c-googleplusbutton);
$C_instagram: var(--c-instagram);
$C_reddit: var(--c-reddit);
$C_wepay: var(--c-wepay);
$C_yahoo: var(--c-yahoo);
$C_outlook: var(--c-outlook);
$C_textPrimary: var(--c-textPrimary);
$C_textSecondary: var(--c-textSecondary);
$C_textTertiary: var(--c-textTertiary);
$C_textHint: var(--c-textHint);
$C_textDisabled: var(--c-textDisabled);
$C_textPrimaryInverted: var(--c-textPrimaryInverted);
$C_textSecondaryInverted: var(--c-textSecondaryInverted);
$C_textTertiaryInverted: var(--c-textTertiaryInverted);
$C_textHintInverted: var(--c-textHintInverted);
$C_textDisabledInverted: var(--c-textDisabledInverted);
$C_attention: var(--c-attention);
$C_success: var(--c-success);
$C_border: var(--c-border);
$C_borderDark: var(--c-borderDark);
$C_borderInverted: var(--c-borderInverted);
$C_borderDarkInverted: var(--c-borderDarkInverted);
$C_separator: var(--c-separator);
$C_highlight: var(--c-highlight);
$C_selection: var(--c-selection);
$C_dimmingOverlay: var(--c-dimmingOverlay);
$C_tappable: var(--c-tappable);
$C_tappableInverted: var(--c-tappableInverted);
$C_contentBG: var(--c-contentBG);
$C_contentBGInverted: var(--c-contentBGInverted);
$C_collectionBG: var(--c-collectionBG);


// old holdover
$C_accent: $C_blue;
