/**
* Color Mappings
* --------------------------
*
* Remaps some `meetup-swatches` color variables
* to our new color lib, `swarm-constants`.
*
* ```
* $C_legacyColor: $C_constantsColor;
* ```
*/

//
// Base color palette
//
$C_transparentLightGray: rgba(0,0,0,0.2);
$C_lightPurple: $C_blue;

//
// UI Colors
//
$C_buttonGray: $C_buttonBG;
$C_fieldGray: $C_fieldBG;
$C_fieldGrayDisabled: $C_fieldBG--disabled;
$C_fieldGrayInvertedDisabled: $C_fieldBGinverted--disabled;
