////
/// Layout vars
/// @group Layout
/// @access public
////

/// modal default width
/// (provided by [swarm-constants](https://meetup.github.io/swarm-constants/#layout))
/// @type Value(px)
$modal-width: $width-modal;

/// bounds default width
/// (provided by [swarm-constants](https://meetup.github.io/swarm-constants/#layout))
/// @type Value(px)
$bounds: $width-bounds;

/// bounds wide variant width
/// (provided by [swarm-constants](https://meetup.github.io/swarm-constants/#layout))
/// @type Value(px)
$bounds-wide: $width-bounds-wide;

/// small border-radius value
/// (provided by [swarm-constants](https://meetup.github.io/swarm-constants/#layout))
/// @type Value(px)
$smallRadius: $radius-small;

/// default border-radius value
/// (provided by [swarm-constants](https://meetup.github.io/swarm-constants/#layout))
/// @type Value(px)
$defaultRadius: $radius-normal;

/// large border-radius value
/// (provided by [swarm-constants](https://meetup.github.io/swarm-constants/#layout))
/// @type Value(px)
$largeRadius: $radius-large;

/// zindex aliases
/// (provided by [swarm-constants](https://meetup.github.io/swarm-constants/#layout))
/// @prop {Number} zindex-map.main [0]
/// @prop {Number} zindex-map.floating-content [10]
/// @prop {Number} zindex-map.shade [20]
/// @prop {Number} zindex-map.shade-content [25]
/// @prop {Number} zindex-map.modal [30]
/// @prop {Number} zindex-map.popup [50]
$zindex-map: (
	main: $zindex-main,
	floating-content: $zindex-floatingContent,
	shade: $zindex-shade,
	shade-content: $zindex-shadeContent,
	modal: $zindex-modal,
	popup: $zindex-popup
);

/// Convenience list of possible `display` values.
/// see `str-firstCharToUpper` for managing camelCasing
/// @type List
/// @see {Function} str-firstCharToUpper
$display-values: (
	none,
	block,
	flex,
	inline,
	inline-block,
	inline-flex,
	grid
);

/// camelCase to CSS values.
/// omits `flex-start` because it is a default prop of Flex items
/// @prop {Value} flexJustifyMap.flexEnd [flex-end]
/// @prop {Value} flexJustifyMap.center [center]
/// @prop {Value} flexJustifyMap.spaceBetween [space-between]
/// @prop {Value} flexJustifyMap.spaceAround [space-around]
$flexJustifyMap: (
	"flexEnd": flex-end,
	"center": center,
	"spaceBetween": space-between,
	"spaceAround": space-around
);

/// map of `justify-content` values
/// human-readable keys to `justify-content` values
/// @prop {Value} flexAlignMap.top [flex-start]
/// @prop {Value} flexAlignMap.bottom [flex-end]
/// @prop {Value} flexAlignMap.center [center]
$flexAlignMap: (
	"top": flex-start,
	"bottom": flex-end,
	"center": center
);
