////
/// Size Scale Vars
/// @group Scale
/// @access public
////

/**
* We use a double-stranded
* [modular scale](http://alistapart.com/article/more-meaningful-typography)
* loosely based on a perfect-fifths scale.
*
* ```
* $block   : 48px @ 1:1.5
* $space   : 16px @ 1:1.5
* ```
*/

/**
* "Block" variables contain size values in pixels starting from
* `48px`, moving up the `1:1.5` type scale.
*/
/// scales from 48px @ 1:1.5
/// @type Value(px)
$block           : var(--block-1);
/// scales from 48px @ 1:1.5
/// @type Value(px)
$block-2         : var(--block-2);
/// scales from 48px @ 1:1.5
/// @type Value(px)
$block-3         : var(--block-3);
/// scales from 48px @ 1:1.5
/// @type Value(px)
$block-4         : var(--block-4);
/// scales from 48px @ 1:1.5
/// @type Value(px)
$block-5         : var(--block-5);
/// scales from 48px @ 1:1.5
/// @type Value(px)
$block-6         : var(--block-6);
/// scales from 48px @ 1:1.5
/// @type Value(px)
$block-7         : var(--block-7);

/**
* "Space" variables contain size values in pixels starting from
* `16px`, moving up the `1:1.5` type scale.
*/
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space           : var(--space-1);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-2         : var(--space-2);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-3         : var(--space-3);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-4         : var(--space-4);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-5         : var(--space-5);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-6         : var(--space-6);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-7         : var(--space-7);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-8         : var(--space-8);

/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-and-half  : calc(var(--space-1)*1.5);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-double    : var(--space-double);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-half      : var(--space-half);
/// scales from 16px @ 1:1.5
/// @type Value(px)
$space-quarter   : var(--space-quarter);

/**
* Elements like images, icons, avatars, and illustrations
* can be thought of as "media". The following variables
* set media sizes based on our modular scale:
*/
/// @type Value(px)
$media-xs : var(--media-xs);
/// @type Value(px)
$media-s : var(--media-s);
/// @type Value(px)
$media-m  : var(--media-m);
/// @type Value(px)
$media-l  : var(--media-l);
/// @type Value(px)
$media-xl  : var(--media-xl);
/// @type Value(px)
$media-xxl : var(--media-xxl);

/// @prop {Value(px)} media-map.xs [$meida-xs]
/// @prop {Value(px)} media-map.s [$meida-s]
/// @prop {Value(px)} media-map.m [$meida-m]
/// @prop {Value(px)} media-map.l [$meida-l]
/// @prop {Value(px)} media-map.xl [$meida-xl]
$media-map: (
	xs: $media-xs,
	s: $media-s,
	m: $media-m,
	l: $media-l,
	xl: $media-xl,
	xxl: $media-xxl
);
