////
/// Type vars
/// @group Typography
/// @access public
////


/// Default font stack
/// @type String
$font : var(--font-family-normal);

/// Mono font stack
/// @type String
$font--mono : var(--font-family-mono);

/// @type Value(px)
$font-size-tiny      : var(--font-size-tiny);
/// @type Value(px)
$font-size-small     : var(--font-size-small);
/// @type Value(px)
$font-size           : var(--font-size-normal);
/// @type Value(px)
$font-size-tearsheet : 24px; // DEPRECATED

/// @type Value(px)
$font-size-big2      : 20px; // DEPRECATED
/// @type Value(px)
$font-size-big       : var(--font-size-big);
/// @type Value(px)
$font-size-title     : var(--font-size-title);
/// @type Value(px)
$font-size-display3  : var(--font-size-display3);
/// @type Value(px)
$font-size-display2  : var(--font-size-display2);
/// @type Value(px)
$font-size-display1  : var(--font-size-display1);

/// @type Number
$W_normal : var(--font-weight-normal);
/// @type Number
$W_medium : var(--font-weight-medium);
/// @type Number
$W_bold   : var(--font-weight-bold);

/// @type String
$line-height-largeText : var(--font-lineHeight-largeText);
/// @type String
$line-height           : var(--font-lineHeight-normal);
/// @type String
$line-height-smallText : var(--font-lineHeight-smallText);
/// @type String
$line-height-runningText : var(--font-lineHeight-runningText);
