// FOR DOCUMENTATION PURPOSES ONLY

/*doc
---
title: Inverted class
slug: invertedContextClass
category: Context Classes
---
The `inverted` class creates a context in which text and other
element defaults swap from dark colors to light, for use in dark
stripes of color or photos.

```html_example
<div style="background: #353E48;" class="inverted">
	<h1 class="text--display3">Just a heading, getting changed to white by <code>inverted</code></h1>
	<p>This is default body text, inheritied from type styles applied to &lt;body&gt;</p>
</div>
```
*/


/*doc
---
title: runningText class
slug: runningTextContextClass
category: Context Classes
---
The `runningText` class creates a context for "running text", as
opposed to UI text.

By default, paragraphs and headings are not styled with any bottom spacing.
Links are not blue by default, as the most common case on Meetup will be
block-level anchors with large touch targets.

However, there will be instaces where you want the blue links and properly
spaced paragraphs of running text (ie. event descriptions).

```html_example
<p>The robot is partially dressed in waterproof surgical garb.</p>
<p>"Bruce Springsteen" is a terrible name for a <a href="#">cat</a>.</p>

<hr style="margin: 8px;" /> <!-- lol, hr -->

<div class="runningText">
	<p>The robot is partially dressed in waterproof surgical garb.</p>
	<p>"Bruce Springsteen" is a terrible name for a <a href="#">cat</a>.</p>
</div>
```
*/
