//
// Default values
//
:root {
	--mediaScale: $mediaScale;
	@each $mediaKey in map-keys($media-map) {
		--scalingMedia-#{$mediaKey}: floor(map-get($media-map, #{$mediaKey}) * $mediaScale);
	}
}

//
// Breakpoint values
//

// mediaScale
// scalingMedia-{size}
@each $breakpoint, $responsiveScaleValue in (
	medium: 1.125,
	large: 1.25,
) {
	@include atMediaUp($breakpoint) {
		:root {
			--mediaScale: $responsiveScaleValue;

			@each $mediaKey in map-keys($media-map) {
				--scalingMedia-#{$mediaKey}: floor(map-get($media-map, #{$mediaKey}) * $responsiveScaleValue);
			}
		}
	}
}
