/*doc
---
title: Basic Inputs
name: forms
category: Forms
---

<div style="padding: 8px; background: #FFE533; margin: 8px 0 16px 0;">
The `chunk` and `row` classs used below are for documentation
purposes only and are not provided by `swarm-sassutils`. For layout components,
see <a class="link" style="text-decoration: underline;" href="https://github.com/meetup/meetup-web-components">meetup-web-components</a>
</div>

## Text inputs

```html_example
<div class="chunk">
	<label for="test-textinput" class="required">I'm a label</label>
	<input id="test-textinput" type="text" value="Text input with value" />
</div>

<div class="chunk">
	<label for="test-textinput2">Just another label</label>
	<input id="test-textinput2" type="text" placeholder="Text input with placeholder" />
</div>

<div class="chunk">
	<label for="test-textarea">Here's an area for your text</label>
	<textarea id="test-textarea"></textarea>
</div>

<div class="chunk">
	<label for="test-select">What is this?</label>
	<select id="text-select">
		<option value="One">One</option>
		<option value="Two">Two</option>
		<option value="Three">Three</option>
		<option value="Four">Four</option>
	</select>
</div>

<div class="row">
	<div class="row-item chunk">
		<label for="split1">Favorite number</label>
		<input id="split0" type="number" />
	</div>
	<div class="row-item chunk">
		<label for="split1">Unicorn name</label>
		<input id="split1" type="text" placeholder="ie. Fluffy, Resplendent" />
	</div>
	<div class="row-item chunk">
		<label class="required" for="split2">Unicorn color</label>
		<select id="split2">
			<option value="clear">Transparent</option>
			<option value="green">Toasted clove saffron</option>
			<option value="brown">Midnight brown</option>
			<option value="black">Seabreeze black</option>
		</select>
	</div>
</div>
```

*/

/* stylelint-disable selector-no-qualifying-type, selector-no-vendor-prefix */
%label,
label {
	font-size: rem($font-size);
	font-weight: $W_medium;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

%_formBase,
button,
input,
select,
textarea {
	display: block;
	font-family: inherit;
	font-size: 100%;
	line-height: $line-height;
}

textarea {
	-ms-overflow-style: none;
}

button {
	background: transparent;
	border-width: 0;
	margin: 0;
	padding: 0;
}

%_formTextField,
#{$all-text-inputs},
// this var comes from bourbon textarea,
select {
	@include formInput();

	&[disabled] {
		@include formInput--disabled();
	}

	&:hover {
		@include formInput--hovered();
	}

	&:focus {
		@include formInput--focused();
	}

	.inverted & {
		background-color: $C_contentBGInverted;
		border-color: $C_borderInverted;
		color: $C_textPrimaryInverted;

		&:hover {
			border-color: $C_borderDarkInverted;
		}

		&[disabled] {
			background-color: $C_borderInverted;
			border-color: transparent;
			color: $C_textSecondaryInverted;

			&:hover {
				background-color: $C_borderInverted;
			}
		}
	}
}

input,
select {
	height: ($font-size * $line-height) + $space * 2;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: $C_textTertiary;
	font-style: normal;
}

input[type="time"] {
	&::-webkit-clear-button,
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

input[type="time"]::-ms-clear {
	display: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/*doc
---
title: Checkboxes
name: checkbox
category: Forms
---
A label variant class of `label--minor` is
used for side-by-side inputs and labels.

For radios and checkboxes, we put the `input`
element inside the `label` element.

A class of `checkbox` is __required__ on checkbox
input elements.

```html_example
<label for="check1" class="label--minor chunk">
	<input id="check1" class="checkbox" value="green" type="checkbox" />
	Green
</label>
<label for="check2" class="label--minor chunk">
	<input id="check2" class="checkbox" value="blue" type="checkbox" />
	Blue
</label>
<label for="check3" class="label--minor chunk">
	<input id="check3" class="checkbox" value="blue" type="checkbox" checked />
	Already checked
</label>
```
*/

// Safari height fix
input[type="checkbox"] {
	height: auto;
}
/* stylelint-enable  */
