/*doc
---
title: Default table styles
name: tableDefault
category: Tables
---

```html_example
<table>
	<thead>
		<tr>
			<th>State</th>
			<th>Number of escalators</th>
			<th>State bird</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>New York</th>
			<td>7,674</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Wyoming</th>
			<td>2</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Oregon</th>
			<td>400</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Florida</th>
			<td>n/a</td>
			<td>Cardinal</td>
		</tr>
	</tbody>
</table>
```
*/

/* stylelint-disable selector-max-combinators, selector-max-compound-selectors, selector-max-specificity */
table {
	border-collapse: collapse;
	display: table;
	table-layout: auto;
}

caption,
td,
th {
	padding: calc(var(--responsive-space) / 2) var(--responsive-space);
	color: $C_textSecondary;
	text-align: left;
	vertical-align: middle;

	.inverted & {
		color: $C_textSecondaryInverted;
	}
}

caption {
	padding-left: 0;
}

thead th {
	@include standardBorder("bottom");
	color: $C_textPrimary;
	font-weight: $W_bold;
}

/*doc
---
title: Bordered table
name: borderedTable
category: Tables
---
Apply the `borderedTable` class to apply borders to table cells.

```html_example
<table class="borderedTable">
	<thead>
		<tr>
			<th>State</th>
			<th>Number of escalators</th>
			<th>State bird</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>New York</th>
			<td>7,674</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Wyoming</th>
			<td>2</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Oregon</th>
			<td>400</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Florida</th>
			<td>n/a</td>
			<td>Cardinal</td>
		</tr>
	</tbody>
</table>
```
*/

.borderedTable {
	td,
	tbody th {
		border-color: $C_border;
		border-style: solid;
		border-width: 1px 0 0 1px;

		&:last-child {
			border-right: 1px solid $C_border;
		}

		.inverted & {
			border-color: $C_borderInverted;
		}
	}

	thead th {
		border-width: 0;
	}

	tbody tr:last-child {
		td,
		th {
			@include standardBorder("bottom");
		}
	}
}

/*doc
---
title: Reset table
name: resetTable
category: Tables
---

```html_example
<table class="resetTable">
	<thead>
		<tr>
			<th>State</th>
			<th>Number of escalators</th>
			<th>State bird</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>New York</th>
			<td>7,674</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Wyoming</th>
			<td>2</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Oregon</th>
			<td>400</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Florida</th>
			<td>n/a</td>
			<td>Cardinal</td>
		</tr>
	</tbody>
</table>
```
*/

.resetTable {
	caption,
	tbody,
	thead,
	td,
	th {
		border-width: 0;
		color: $C_textPrimary;
		font-size: $font-size;
		font-weight: $W_normal;
		padding: 0;
		vertical-align: top;

		.inverted & {
			color: $C_textPrimaryInverted;
		}
	}
}

/*doc
---
title: Striped table
name: stripedTable
category: Tables
---
Apply the `stripedTable` class to add a background
stripe to every other row of the table.

```html_example
<table class="stripedTable">
	<thead>
		<tr>
			<th>State</th>
			<th>Number of escalators</th>
			<th>State bird</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>New York</th>
			<td>7,674</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Wyoming</th>
			<td>2</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Oregon</th>
			<td>400</td>
			<td>Cardinal</td>
		</tr>
		<tr>
			<th>Florida</th>
			<td>n/a</td>
			<td>Cardinal</td>
		</tr>
	</tbody>
</table>
```

*/

.stripedTable {
	tbody {
		tr:nth-child(odd) td,
		tr:nth-child(odd) th {
			background-color: $C_lightGray;

			.inverted & {
				background-color: $C_textTertiary;
			}
		}
	}
}
/* stylelint-enable */
