/**
* reset/all.scss
* -------------------
*
* Includes:
* - Sass utilities
* - CSS resets for all base tags
* - Heading classes
* - Body text classes
* - Debug classes
*/
@import "../utils/all";

// keep this order for cascade
@import "customProperties";
@import "tagDefaults";
@import "tables";
@import "forms";
@import "headings";
@import "bodyText";
@import "animation";
