@import "./browser";

////
/// @group flexbox
////

/// Sets flexbox properties for a flex parent (`display: flex;`)
/// @param {String} $orientation - 'row' or 'column'
/// @param {Boolean} $useFallback [true] - use IE < v10 fallback
///
/// @example
/// 	@include flexParent('row'); // displays element as flex with children in row orientation
/// 	@include flexParent('column'); // displays element as flex with children in column orientation
/// 	@include flexParent('row', false); // optional second argument allows disabling of IE table display fallbacks
@mixin flexParent( $orientation, $useFallback:true ) {
	align-items: flex;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;

	@if "#{$orientation}" == "row" {
		flex-direction: row;
		flex-wrap: nowrap;
	} @else {
		flex-direction: column;

		@if $useFallback {
			@include browser-lessThanIE( 10 ) {
				height: 100%;
			}
		}
	}

	@if $useFallback {
		@include browser-lessThanIE( 10 ) {
			display: table;
			table-layout: auto;
			width: 100%;
		}
	}
}

/// Sets flexbox properties for a flex children.
/// @param {String} $variant - 'shrink' or 'grow'
/// @param {Boolean} $useFallback [true] - use IE < v10 fallback
///
/// @example
/// 	@include flexChild('grow'); // sets element to grow to fill remaining space in flex parent
/// 	@include flexChild('shrink'); // sets element to shirnk to the width of its content
/// 	@include flexChild('shrink', false); // optional second argument allows disabling of IE table display fallbacks
@mixin flexChild( $variant, $useFallback:true ) {
	@if "#{$variant}" == "grow" {
		flex-basis: 0;
		flex-grow: 1;
		box-sizing: border-box;
		width: auto;
		min-width: 0;

		@if $useFallback {
			@include browser-lessThanIE( 10 ) {
				display: table-cell;
			}
		}
	} @else {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		width: initial;

		@if $useFallback {
			@include browser-lessThanIE( 10 ) {
				width: 1%;
			}
		}
	}

	@if $useFallback {
		@include browser-lessThanIE( 10 ) {
			vertical-align: top;
		}
	}
}
