////
/// @group forms
////

/// resets form field styles
/// @access public
///
/// @example scss
/// 	input.reset {
/// 		@include resetFieldStyles();
/// 	}
@mixin resetFieldStyles {
	background-color: transparent;
	border-width: 0;
	height: auto;
	margin: 0;
	padding: 0;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
}
