////
/// @group Typography
////
@import "responsiveVarContext";

%text--pageTitle,
%text--sectionTitle,
%text--big,
%text--display1,
%text--display2,
%text--display3 {
	@include color-all($C_textPrimary);
	font-weight: $W_bold;
	line-height: $line-height-largeText;

	.inverted & {
		@include color-all($C_textPrimaryInverted);
	}
}

/// Page title text placeholder
%text--pageTitle {
	font-size: rem($font-size-title);
}

/// Section title text placeholder
%text--sectionTitle {
	font-size: rem($font-size-big2);
	line-height: $line-height;
}

/// Top level display text placeholder
%text--display1 {
	font-size: rem($font-size-display1);
}

/// Secondary level display text placeholder
%text--display2 {
	font-size: rem($font-size-display2);
}

/// Tertiary level display text placeholder
%text--display3 {
	font-size: rem($font-size-display3);
}

// Primary label text
%text--label {
	@include color-all($C_textPrimary);
	font-size: rem($font-size-small);
	font-weight: $W_bold;
	line-height: $line-height-smallText;
	letter-spacing: -0.02em;
	word-spacing: 0.1em;

	.inverted & {
		@include color-all($C_textPrimaryInverted);
	}

	@include i18n-only('en') {
		text-transform: uppercase;
	}
}

// Secondary label text
%text--labelSecondary {
	@extend %text--label;
	@include color-all($C_textSecondary);
	font-weight: $W_medium;

	.inverted & {
		@include color-all($C_textSecondaryInverted);
	}
}

// Bold text (medium weight)
%text--bold {
	font-weight: $W_medium !important;
	.inverted .runningText,
	.inverted.runningText {
		font-weight: $W_bold !important;
	}
}

// Heavy text (semibold weight)
%text--heavy {
	font-weight: $W_bold !important;
}

/// Secondary (color) text
%text--secondary {
	@include color-all($C_textSecondary);

	.inverted & {
		@include color-all($C_textSecondaryInverted);
	}
}

/// Tertiary (color) text
%text--tertiary {
	@include color-all($C_textTertiary);

	.inverted & {
		@include color-all($C_textTertiaryInverted);
	}
}

/// Big text
%text--big {
	font-size: rem($font-size-big);
	line-height: $line-height-largeText;
}

/// Small text
%text--small {
	font-size: rem($font-size-small);
	line-height: $line-height-smallText;
}

/// Hint text
%text--hint {
	@extend %text--tertiary;
}

/// Links placeholder
%text--link {
	@include color-all($C_link);

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
	.button {
		text-decoration: none;
	}

	.inverted & {
		@include color-all($C_linkInverted);
	}
}

/// Caption text
%text--caption {
	@extend %text--small;
	@extend %text--secondary;
}

/// "Attention" text (errors, system messaging)
%text--attention {
	@include color-all($C_attention);
}

/// Monospaced text
%text--mono {
	font-family: $font--mono;
}

/// Disabled text
%text--disabled {
	&,
	&:hover,
	&:visited,
	&:hover,
	&:active {
		@include color-all($C_textTertiary);
		cursor: not-allowed;
		text-decoration: none;
	}

	.inverted & {
		@include color-all($C_textTertiaryInverted);
	}
}

// Normal text 
%text--normal {
	font-weight: $W_normal !important;
}

/// Nice hyphenation for running text
%wrapNice {
	@include hyphens(auto);
	@include prefixer(hyphenate-limit-chars, 5 3 2, ms);
	@include prefixer(hyphenate-limit-after, 2, webkit moz spec);
	@include prefixer(hyphenate-limit-before, 3, webkit moz spec);
	@include prefixer(hyphenate-limit-lines, 2, webkit ms spec);
}
