@import "~swarm-constants/dist/scss/vars";
@import "../vars/scale";

//
// Default values
//
$mediaScale: 1;

:root {
	--responsive-space: #{$space};
	--mediaScale: #{$mediaScale};
	@each $mediaKey in map-keys($media-map) {
		$responsiveMedia: floor(map-get($media-map, #{$mediaKey}) * $mediaScale);
		--responsiveMedia-#{$mediaKey}: #{$responsiveMedia};
	}
}

//
// Breakpoint values
//

// responsiveSpace
@each $breakpoint, $responsiveBaseValue in (medium: 18px,
large: 20px,) {
	@include atMediaUp($breakpoint) {
		:root {
			--responsive-space: #{$responsiveBaseValue};
		}
	}
}

// mediaScale
// scalingMedia-{size}
/* stylelint-disable number-max-precision */
@each $breakpoint, $responsiveScaleValue in (medium: 1.125,
large: 1.25,) {
	@include atMediaUp($breakpoint) {
		:root {
			--mediaScale: #{$responsiveScaleValue};

			@each $mediaKey in map-keys($media-map) {
				$responsiveMedia: floor(map-get($media-map, #{$mediaKey}) * $responsiveScaleValue);
				--responsiveMedia-#{$mediaKey}: #{$responsiveMedia};
			}
		}
	}
}
/* stylelint-enable */
